BEGIN;
--
-- Create model Contact
--
CREATE TABLE "patients_contact" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "email" varchar(254) NOT NULL, "subject" varchar(200) NOT NULL, "message" text NOT NULL, "created_at" datetime NOT NULL, "is_read" bool NOT NULL);
--
-- Create model Feedback
--
CREATE TABLE "patients_feedback" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "type" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "is_read" bool NOT NULL);
--
-- Create model MedicationType
--
CREATE TABLE "patients_medicationtype" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "description" text NULL, "unit" varchar(50) NOT NULL);
--
-- Create model Patient
--
CREATE TABLE "patients_patient" ("file_number" varchar(20) NOT NULL PRIMARY KEY, "first_name" varchar(50) NOT NULL, "last_name" varchar(50) NOT NULL, "national_code" varchar(10) NOT NULL UNIQUE, "date_birth" date NULL, "gender" varchar(10) NULL, "phone_number" varchar(15) NULL, "address" text NULL, "marital_status" varchar(50) NOT NULL, "education" varchar(100) NOT NULL, "drug_type" varchar(100) NULL, "treatment_type" varchar(100) NOT NULL, "usage_duration" varchar(50) NOT NULL, "admission_date" date NULL, "treatment_withdrawal_date" date NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
--
-- Create model Support
--
CREATE TABLE "patients_support" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "priority" varchar(10) NOT NULL, "created_at" datetime NOT NULL, "is_resolved" bool NOT NULL);
--
-- Create model DrugInventory
--
CREATE TABLE "patients_druginventory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "current_stock" decimal NOT NULL, "minimum_stock" decimal NOT NULL, "last_updated" datetime NOT NULL, "medication_type_id" bigint NOT NULL UNIQUE REFERENCES "patients_medicationtype" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Payment
--
CREATE TABLE "patients_payment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "payment_date" date NOT NULL, "amount" decimal NOT NULL, "payment_type" varchar(20) NOT NULL, "description" text NULL, "created_at" datetime NOT NULL, "patient_id" varchar(20) NOT NULL REFERENCES "patients_patient" ("file_number") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Prescription
--
CREATE TABLE "patients_prescription" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "daily_dose" decimal NOT NULL, "treatment_duration" integer NOT NULL, "start_date" date NOT NULL, "end_date" date NOT NULL, "total_prescribed" decimal NOT NULL, "notes" text NULL, "created_at" datetime NOT NULL, "medication_type_id" bigint NOT NULL REFERENCES "patients_medicationtype" ("id") DEFERRABLE INITIALLY DEFERRED, "patient_id" varchar(20) NOT NULL REFERENCES "patients_patient" ("file_number") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model MedicationDistribution
--
CREATE TABLE "patients_medicationdistribution" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "distribution_date" date NOT NULL, "amount" decimal NOT NULL, "remaining" decimal NOT NULL, "notes" text NULL, "created_at" datetime NOT NULL, "prescription_id" bigint NOT NULL REFERENCES "patients_prescription" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "patients_payment_patient_id_fddfdf31" ON "patients_payment" ("patient_id");
CREATE INDEX "patients_prescription_medication_type_id_1d6890bb" ON "patients_prescription" ("medication_type_id");
CREATE INDEX "patients_prescription_patient_id_1916c67c" ON "patients_prescription" ("patient_id");
CREATE INDEX "patients_medicationdistribution_prescription_id_d23491e4" ON "patients_medicationdistribution" ("prescription_id");
COMMIT;
