{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<h2>گزارش فروش داروها</h2>
<form method="get" class="row g-3 align-items-end mb-4">
  <div class="col-auto">
    <label for="start">از تاریخ:</label>
    <input type="date" id="start" name="start" class="form-control" value="{{ start|date:'Y-m-d' }}">
  </div>
  <div class="col-auto">
    <label for="end">تا تاریخ:</label>
    <input type="date" id="end" name="end" class="form-control" value="{{ end|date:'Y-m-d' }}">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">نمایش گزارش</button>
  </div>
</form>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>نام دارو</th>
      <th>تعداد فروش</th>
      <th>مبلغ کل فروش (تومان)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in sales_by_drug %}
    <tr>
      <td>{{ item.drug__name }}</td>
      <td>{{ item.total_quantity|intcomma }}</td>
      <td>{{ item.total_amount|intcomma }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">در این بازه فروش ثبت نشده است.</td></tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="table-info">
      <th>جمع کل</th>
      <th>{{ total_count|intcomma }}</th>
      <th>{{ total_sales|intcomma }}</th>
    </tr>
  </tfoot>
</table>
{% endblock %} 