{% extends 'patients/base.html' %}

{% block title %}داشبورد{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">
            خوش آمدید {{ request.user.username }}!
        </div>
        <div class="card-body">
            <h5 class="card-title">داشبورد مدیریت مرکز ترک اعتیاد</h5>
            <p class="card-text">از منوی بالا برای مدیریت بیماران، ثبت اطلاعات و مشاهده گزارش‌ها استفاده کنید.</p>
        </div>
    </div>
{% endblock %}
