{% extends 'patients/base.html' %}

{% block title %}لیست بیماران{% endblock %}

{% block content %}
    <h2 class="mb-4">لیست بیماران</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ردیف</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ patient.first_name }}</td>
                <td>{{ patient.last_name }}</td>
                <td>{{ patient.national_id }}</td>
                <td>
                    <a href="{% url 'patients:patient_detail_view' patient.id %}" class="btn btn-sm btn-info">جزئیات</a>
                    <a href="{% url 'patients:patient_edit_view' patient.id %}" class="btn btn-sm btn-warning">ویرایش</a>
                    <a href="{% url 'patients:patient_delete_view' patient.id %}" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">بیماری ثبت نشده است.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


